schema/ismrmrd.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.ismrm.org/ISMRMRD" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ismrm.org/ISMRMRD">

  <xs:element name="ismrmrdHeader">
    <xs:complexType>
      <xs:sequence>
	<xs:element maxOccurs="1" minOccurs="0" name="subjectInformation" type="subjectInformationType"/>
	<xs:element maxOccurs="1" minOccurs="0" name="acquisitionSystemInformation" type="acquisitionSystemInformationType"/>
	<xs:element maxOccurs="1" minOccurs="1" name="experimentalConditions" type="experimentalConditionsType"/>
	<xs:element maxOccurs="unbounded" minOccurs="1" name="encoding">
	  <xs:complexType>
	    <xs:all>
	      <xs:element maxOccurs="1" minOccurs="1" name="encodedSpace" type="encodingSpaceType"/>
	      <xs:element maxOccurs="1" minOccurs="1" name="reconSpace" type="encodingSpaceType"/>
	      <xs:element maxOccurs="1" minOccurs="1" name="encodingLimits" type="encodingLimitsType"/>
	      <xs:element maxOccurs="1" minOccurs="1" name="trajectory" type="trajectoryType"/>
	      <xs:element maxOccurs="1" minOccurs="0" name="trajectoryDescription" type="trajectoryDescriptionType"/>
	    </xs:all>
	  </xs:complexType>
	</xs:element>
	<xs:element maxOccurs="1" minOccurs="0" name="parallelImaging" type="parallelImagingType"/>
	<xs:element maxOccurs="1" minOccurs="0" name="sequenceTiming" type="sequenceTimingType"/>
        <xs:element maxOccurs="1" minOccurs="0" name="dicomParameters" type="dicomParametersType"/>
	<xs:element maxOccurs="1" minOccurs="0" name="userParameters">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element maxOccurs="unbounded" minOccurs="0" name="userParameterLong" type="userParameterLongType"/>
	      <xs:element maxOccurs="unbounded" minOccurs="0" name="userParameterDouble" type="userParameterDoubleType"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="subjectInformationType">
    <xs:all>
      <xs:element minOccurs="0" name="patientName" type="xs:string"/>
      <xs:element minOccurs="0" name="patientWeight_kg" type="xs:float"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="experimentalConditionsType">
    <xs:all>
      <xs:element name="H1resonanceFrequency_Hz" type="xs:long"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="acquisitionSystemInformationType">
    <xs:all>
      <xs:element minOccurs="0" name="systemVendor" type="xs:string"/>
      <xs:element minOccurs="0" name="systemModel" type="xs:string"/>
      <xs:element minOccurs="0" name="systemFieldStrength_T" type="xs:float"/>
      <xs:element minOccurs="0" name="relativeReceiverNoiseBandwidth" type="xs:float"/>
      <xs:element minOccurs="0" name="receiverChannels" type="xs:unsignedShort"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="encodingSpaceType">
    <xs:all>
      <xs:element name="matrixSize">
	<xs:complexType>
	  <xs:sequence>
	    <xs:element default="1" maxOccurs="1" minOccurs="1" name="x" type="xs:unsignedShort"/>
	    <xs:element default="1" maxOccurs="1" minOccurs="1" name="y" type="xs:unsignedShort"/>
	    <xs:element default="1" maxOccurs="1" minOccurs="1" name="z" type="xs:unsignedShort"/>
	  </xs:sequence>
	</xs:complexType>
      </xs:element>
      <xs:element name="fieldOfView_mm">
	<xs:complexType>
	  <xs:sequence>
	    <xs:element maxOccurs="1" minOccurs="1" name="x" type="xs:float"/>
	    <xs:element maxOccurs="1" minOccurs="1" name="y" type="xs:float"/>
	    <xs:element maxOccurs="1" minOccurs="1" name="z" type="xs:float"/>
	  </xs:sequence>
	</xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="limitType">
    <xs:all>
      <xs:element default="0" name="minimum" type="xs:unsignedShort"/>
      <xs:element default="0" name="maximum" type="xs:unsignedShort"/>
      <xs:element default="0" name="center" type="xs:unsignedShort"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="encodingLimitsType">
    <xs:all>
      <xs:element maxOccurs="1" minOccurs="0" name="kspace_encoding_step_0" type="limitType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="kspace_encoding_step_1" type="limitType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="kspace_encoding_step_2" type="limitType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="average" type="limitType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="slice" type="limitType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="contrast" type="limitType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="phase" type="limitType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="repetition" type="limitType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="set" type="limitType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="segment" type="limitType"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="trajectoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cartesian"/>
      <xs:enumeration value="epi"/>
      <xs:enumeration value="radial"/>
      <xs:enumeration value="goldenangle"/>
      <xs:enumeration value="spiral"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="trajectoryDescriptionType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="identifier" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="userParameterLong" type="userParameterLongType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="userParameterDouble" type="userParameterDoubleType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="comment" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sequenceTimingType">
  	<xs:sequence>
  		<xs:element minOccurs="1" maxOccurs="unbounded" type="xs:float" name="TR"/>
  		<xs:element minOccurs="1" maxOccurs="unbounded" type="xs:float" name="TE"/>
  		<xs:element minOccurs="0" maxOccurs="unbounded" type="xs:float" name="TI"/>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="userParameterLongType">
    <xs:all>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:long"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="userParameterDoubleType">
    <xs:all>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:double"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="dicomParametersType">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="dicomPatient">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="patientID"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="patientBirthdate"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="patientSex"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:long" name="patientAge_y"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="dicomStudy">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="0" maxOccurs="1" name="referencedImageSequence">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="referencedSOPInstanceUID"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="studyInstanceUID"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:long" name="studyID"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="studyDate"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="studyTime"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="referringPhysicianName"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:long" name="accessionNumber"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="studyDescription"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="dicomSeries">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="seriesInstanceUID"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:long" name="seriesNumber"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="seriesDate"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="seriesTime"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="protocolName"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="seriesDescription"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="patientPosition"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="frameOfReferenceUID"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="dicomMRImage">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="imageType"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="scanningSequence"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="sequenceVariant"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="scanOptions"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="mrAcquisitionType"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:long" name="echoTrainLength"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:float" name="triggerTime"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:long" name="flipAngle_deg"/>
            <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="freqEncodingDirection"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dicomGeneralEquipment">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="institutionName"/>
            <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="stationName"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="accelerationFactorType">
    <xs:all>
      <xs:element name="kspace_encoding_step_1" type="xs:unsignedShort"/>
      <xs:element name="kspace_encoding_step_2" type="xs:unsignedShort"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="calibrationModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="embedded"/>
      <xs:enumeration value="interleaved"/>
      <xs:enumeration value="separate"/>
      <xs:enumeration value="external"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="interleavingDimensionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="phase"/>
      <xs:enumeration value="repetition"/>
      <xs:enumeration value="contrast"/>
      <xs:enumeration value="average"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="parallelImagingType">
  	<xs:sequence>
  	 <xs:element type="accelerationFactorType" name="accelerationFactor"/>
  	 <xs:element maxOccurs="1" minOccurs="0" type="calibrationModeType" name="calibrationMode"/>
  	 <xs:element maxOccurs="1" minOccurs="0" type="interleavingDimensionType" name="interleavingDimension"/>
  	</xs:sequence>
  </xs:complexType>
</xs:schema>
